@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/** General Styles **/

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 20px;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  margin: 0;
  padding: 0;
}

header h1 {
  text-align: center;
}

header h1 img {
  image-rendering: pixelated;
  margin-bottom: -4px;
  margin-right: 10px;
}

.dialog {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px calc(10vw - 20px);
}

img.hidden {
  position: absolute;
  left: -999em;
}

tr.hidden {
  display: none;
}

h2 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #04aa6d;
}

a:hover {
  text-decoration: underline;
}

/** Tab Selector **/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 80vw;
  margin-top: 20px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tabcontent.active {
  display: block;
}

/** Copy amount modal **/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  border-radius: 5px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  position: relative;
}

.modal-content input {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-buttons button {
  background-color: #04aa6d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

button#copyNCancel {
  background-color: #fff;
  color: #333;
  border: 1px solid #000;
  font-weight: normal;
}

button#copyNBatch {
  background-color: #fff;
  color: #04aa6d;
  border: 1px solid #04aa6d;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/** Freestyle tab **/

.freetab {
  align-items: flex-start;
  justify-content: center;
  margin: 20px calc(10vw - 40px);
  flex-wrap: wrap;
}

.converter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.converter .textbox {
  width: 40%;
  min-height: 200px;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  resize: vertical;
}

/* big arrow pointing convertion from left to right between two textareas */
.arrowR {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #04aa6d;
  margin-top: -20px;
  align-self: center;
  position: relative;
}

/** Category selector **/

.category-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 4px;
  flex-wrap: wrap;
}

.category-filters .filterButton img {
  width: 32px;
  image-rendering: pixelated !important;
}

.category-filters .filterButton {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px !important;
}

.category-filters .filterButton.active {
  background-color: #04aa6d;
  color: white;
}

.category-filters .filterButton.rejected {
  background-color: #ea1e3c;
  color: white;
}

.category-filters .filterButton:hover {
  background-color: #ddd !important;
}

.category-filters .filterButton.active:hover {
  background-color: #03a05c !important;
}

.category-filters .filterButton.rejected:hover {
  background-color: #e00e2c !important;
}

/** Skeleton **/

.skeleton {
  width: 80vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.skeleton .row {
  padding: 0px 35px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.skeleton .row.center {
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.skeleton .row.center .image {
  width: 40px;
  height: 40px;
}

.skeleton * .image {
  width: 52px;
  height: 52px;
  background-color: #ddd;
  border-radius: 25%;
  margin: 8px;
  background-image: linear-gradient(90deg, #eee 0px, #e8e8e8 40px, #eee 80px);
  background-size: 600px;
  animation: shine 0.6s infinite linear;
}

.skeleton .text {
  margin-left: 39px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.skeleton * .actions {
  padding-right: 70px;
  display: flex;
  flex-direction: row;
}

.skeleton * .actions .image {
  margin: 2px;
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.skeleton * .line {
  float: left;
  width: 200px;
  height: 16px;
  margin-top: 12px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, #eee 0px, #e8e8e8 40px, #eee 80px);
  background-size: 600px;
  animation: shine 0.6s infinite linear;
}

.skeleton * .line-sm {
  width: 50px;
}

@keyframes shine {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}

@media (max-width: 650px) {
  .skeleton .row.center {
    display: none;
  }
  .skeleton .text .line {
    width: 60%;
  }
  .skeleton .text .line-sm {
    width: 20%;
  }
}

/** Table **/

.scrollable {
  width: 80vw;
  overflow-x: auto;
}

.items-table {
  table-layout: fixed;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  min-width: 500px;
  width: 80vw;
  border: 1px solid #eee;
}

.items-table td,
.items-table th {
  padding: 8px;
}

.items-table th:first-child {
  width: 110px;
  max-width: 110px;
}

.items-table th:last-child {
  width: 170px;
  max-width: 170px;
}

.items-table td:not:nth-child(1) {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.items-table tr:nth-child(2n of :not(.hidden)) {
  background-color: #f2f2f2;
}

.items-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}

.items-table th:nth-child(2) {
  text-align: left;
}

.items-table tr.batched:nth-child(2n + 1 of :not(.hidden)) {
  background-color: #bfb;
}

.items-table tr.batched:nth-child(2n of :not(.hidden)) {
  background-color: #aea;
}

.items-table tr:hover {
  background-color: #ddd !important;
}

.items-table tr.batched:hover {
  background-color: #8d8 !important;
}

.items-table tr td:first-child {
  text-align: center;
}

.items-table tr td img {
  width: 45px;
  image-rendering: pixelated;
}

.item-name {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.item-id {
  font-size: 14px;
  color: #666;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group[data-amount]:after {
  content: attr(data-amount);
  font-size: 0.8rem;
  align-self: center;
  width: 0;
}

.action {
  width: 32px;
  height: 32px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: transform 0.1s;
}

.action:before {
  content: attr(data-text);
  white-space: nowrap;
  z-index: 1;
  position: absolute;
  top: -150%;
  transform: translateX(-50%);
  left: 0%;
  margin-left: 15px;
  border-radius: 10px;
  width: "fit-content";
  padding: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  display: none;
}

.action.animating:before {
  display: none !important;
}

.action:hover:before {
  display: block;
}

.action:hover:not(.animating) {
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  transform: scale(1.1);
}

.action.copy {
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0,0,256,256"><g fill="currentColor" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M16.5,5c-2.132,0 -3.97958,1.222 -4.89258,3h25.89258c1.379,0 2.5,1.121 2.5,2.5v25.89258c1.778,-0.912 3,-2.76058 3,-4.89258v-21c0,-3.032 -2.468,-5.5 -5.5,-5.5zM10.5,11c-3.01977,0 -5.5,2.48023 -5.5,5.5v21c0,3.01977 2.48023,5.5 5.5,5.5h21c3.01977,0 5.5,-2.48023 5.5,-5.5v-21c0,-3.01977 -2.48023,-5.5 -5.5,-5.5zM10.5,14h21c1.39823,0 2.5,1.10177 2.5,2.5v21c0,1.39823 -1.10177,2.5 -2.5,2.5h-21c-1.39823,0 -2.5,-1.10177 -2.5,-2.5v-21c0,-1.39823 1.10177,-2.5 2.5,-2.5z"></path></g></g></svg>');
}

.action.copyN {
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0,0,256,256"><g fill="%23000000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M30.44336,5.44336c-0.0852,0.00124 -0.17015,0.00973 -0.25391,0.02539l-20.61133,3.50977c-2.63397,0.4479 -4.57812,2.75085 -4.57812,5.42188v17.09961c-0.00765,0.54095 0.27656,1.04412 0.74381,1.31683c0.46725,0.27271 1.04514,0.27271 1.51238,0c0.46725,-0.27271 0.75146,-0.77588 0.74381,-1.31683v-17.09961c0,-1.22898 0.86804,-2.25874 2.08008,-2.46484l20.61328,-3.50977c0.77828,-0.12078 1.33064,-0.82287 1.26485,-1.60771c-0.06579,-0.78485 -0.72732,-1.38518 -1.51485,-1.37471zM36.44336,10.44336c-0.0852,0.00124 -0.17015,0.00973 -0.25391,0.02539l-20.61133,3.50977c-2.63397,0.4479 -4.57812,2.75085 -4.57812,5.42187v17.09961c-0.00765,0.54095 0.27656,1.04412 0.74381,1.31683c0.46725,0.27271 1.04514,0.27271 1.51238,0c0.46725,-0.27271 0.75146,-0.77588 0.74381,-1.31683v-17.09961c0,-1.22897 0.86804,-2.25874 2.08008,-2.46484l20.61328,-3.50977c0.77828,-0.12078 1.33064,-0.82287 1.26485,-1.60771c-0.06579,-0.78485 -0.72732,-1.38518 -1.51485,-1.37471zM39.24414,16.00781c-0.16809,0.00907 -0.33775,0.02774 -0.50781,0.05664l-17.15039,2.91211c-2.63598,0.44868 -4.58594,2.75075 -4.58594,5.42383v14.09961c0,2.76004 2.54264,4.89794 5.26367,4.43555l17.15039,-2.91211c2.63598,-0.44868 4.58594,-2.75075 4.58594,-5.42383v-14.09961c0,-2.58754 -2.23445,-4.62821 -4.75586,-4.49219zM39.58984,19c0.79185,0.03576 1.41016,0.66354 1.41016,1.5v14.09961c0,1.22692 -0.86987,2.25752 -2.08789,2.46484l-17.15039,2.91406c-0.00065,0 -0.0013,0 -0.00195,0c-0.95092,0.1616 -1.75977,-0.52256 -1.75977,-1.47852v-14.09961c0,-1.22692 0.86987,-2.25752 2.08789,-2.46484l17.15039,-2.91406c0.00065,0 0.0013,0 0.00195,0c0.11886,-0.0202 0.23649,-0.02659 0.34961,-0.02148z"></path></g></g></svg>');
}

.action.batch {
  border-left: 1px solid #ccc;
  margin-right: 8px;
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0,0,256,256"><g fill="%23000000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M9.5,7c-3.01977,0 -5.5,2.48023 -5.5,5.5v8c0,3.01977 2.48023,5.5 5.5,5.5h0.5v3.5c0,3.032 2.467,5.5 5.5,5.5h6.5c0,-1.034 0.13333,-2.035 0.36133,-3h-6.86133c-1.378,0 -2.5,-1.121 -2.5,-2.5v-8c0,-1.379 1.122,-2.5 2.5,-2.5h23c1.378,0 2.5,1.121 2.5,2.5v1.97461c1.103,0.575 2.111,1.3042 3,2.1582v-4.13281c0,-3.032 -2.467,-5.5 -5.5,-5.5h-0.5v-3.5c0,-3.01977 -2.48023,-5.5 -5.5,-5.5zM9.5,10h23c1.39823,0 2.5,1.10177 2.5,2.5v3.5h-19.5c-3.033,0 -5.5,2.468 -5.5,5.5v1.5h-0.5c-1.39823,0 -2.5,-1.10177 -2.5,-2.5v-8c0,-1.39823 1.10177,-2.5 2.5,-2.5zM35,24c-6.075,0 -11,4.925 -11,11c0,6.075 4.925,11 11,11c6.075,0 11,-4.925 11,-11c0,-6.075 -4.925,-11 -11,-11zM35,27c0.552,0 1,0.448 1,1v6h6c0.552,0 1,0.448 1,1c0,0.552 -0.448,1 -1,1h-6v6c0,0.552 -0.448,1 -1,1c-0.552,0 -1,-0.448 -1,-1v-6h-6c-0.552,0 -1,-0.448 -1,-1c0,-0.552 0.448,-1 1,-1h6v-6c0,-0.552 0.448,-1 1,-1z"></path></g></g></svg>');
}

.batched .action.batch {
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0,0,256,256"><g fill="%23000000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M 9.5 7 c -3.0198 0 -5.5 2.4802 -5.5 5.5 v 8 c 0 3.0198 2.4802 5.5 5.5 5.5 h 0.5 v 3.5 c 0 3.032 2.467 5.5 5.5 5.5 h 6.5 c 0 -1.034 0.1333 -2.035 0.3613 -3 h -6.8613 c -1.378 0 -2.5 -1.121 -2.5 -2.5 v -8 c 0 -1.379 1.122 -2.5 2.5 -2.5 h 23 c 1.378 0 2.5 1.121 2.5 2.5 v 1.9746 c 1.103 0.575 2.111 1.3042 3 2.1582 v -4.1328 c 0 -3.032 -2.467 -5.5 -5.5 -5.5 h -0.5 v -3.5 c 0 -3.0198 -2.4802 -5.5 -5.5 -5.5 z M 9.5 10 h 23 c 1.3982 0 2.5 1.1018 2.5 2.5 v 3.5 h -19.5 c -3.033 0 -5.5 2.468 -5.5 5.5 v 1.5 h -0.5 c -1.3982 0 -2.5 -1.1018 -2.5 -2.5 v -8 c 0 -1.3982 1.1018 -2.5 2.5 -2.5 z M 35 24 c -6.075 0 -11 4.925 -11 11 c 0 6.075 4.925 11 11 11 c 6.075 0 11 -4.925 11 -11 c 0 -6.075 -4.925 -11 -11 -11 z M 35 34 h 1 H 42 c 0.552 0 1 0.448 1 1 c 0 0.552 -0.448 1 -1 1 h -6 h -1 h -1 h -6 C 27.5 36 27 35.5 27 35 c 0 -0.552 0.448 -1 1 -1 h 6 h 1 z"></path></g></g></svg>');
}

.animating.success {
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0,0,256,256"><g fill="%2327a102" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M20.29297,5.29297l-11.29297,11.29297l-4.29297,-4.29297l-1.41406,1.41406l5.70703,5.70703l12.70703,-12.70703z"></path></g></g></svg>') !important;
}

.animating.error {
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0,0,256,256"><g fill="%23ff0000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M24,4c-11.02793,0 -20,8.97207 -20,20c0,11.02793 8.97207,20 20,20c11.02793,0 20,-8.97207 20,-20c0,-11.02793 -8.97207,-20 -20,-20zM24,7c9.40662,0 17,7.59339 17,17c0,9.40661 -7.59338,17 -17,17c-9.40661,0 -17,-7.59339 -17,-17c0,-9.40661 7.59339,-17 17,-17zM30.48633,15.97852c-0.39614,0.00935 -0.77249,0.17506 -1.04687,0.46094l-5.43945,5.43945l-5.43945,-5.43945c-0.28248,-0.2909 -0.67069,-0.45506 -1.07617,-0.45508c-0.61065,0.00015 -1.16026,0.37042 -1.38978,0.93629c-0.22952,0.56587 -0.09314,1.21439 0.34486,1.63988l5.43945,5.43945l-5.43945,5.43945c-0.39185,0.37623 -0.54969,0.9349 -0.41265,1.46055c0.13704,0.52565 0.54754,0.93616 1.07319,1.07319c0.52565,0.13704 1.08432,-0.0208 1.46055,-0.41265l5.43945,-5.43945l5.43945,5.43945c0.37623,0.39185 0.9349,0.54969 1.46055,0.41265c0.52565,-0.13704 0.93616,-0.54754 1.07319,-1.07319c0.13704,-0.52565 -0.0208,-1.08432 -0.41265,-1.46055l-5.43945,-5.43945l5.43945,-5.43945c0.44646,-0.42851 0.58398,-1.08719 0.34628,-1.65854c-0.2377,-0.57135 -0.80184,-0.93811 -1.4205,-0.92349z"></path></g></g></svg>') !important;
}

.animating.hide {
  transform: scale(0);
}

/** Country Selector **/

.country-wrapper {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  height: 40px;
  min-height: 40px;
  width: 200px;
  max-width: 200px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header-right {
  position: absolute;
  right: 10vw;
  top: 40px;
}

@media (max-width: 1200px) {
  .header-right {
    right: 40px;
  }
}

@media (max-width: 970px) {
  .country-wrapper {
    width: 44px;
    min-width: 44px;
  }
  .country-wrapper dt .country-item span.country {
    display: none;
  }
}

@media (max-width: 650px) {
  .header-right {
    position: fixed;
    right: 20px;
    bottom: 40px;
    top: auto;
  }
  .country-wrapper dd {
    bottom: 100%;
  }
}

.country-wrapper dt {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f1f1f1;
  cursor: pointer;
  text-align: left;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.country-wrapper dt div {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 40px;
  box-sizing: border-box;
}

div.country-item span.flag {
  position: absolute;
  top: calc(50% - 11px / 2);
  left: 14px;
  display: block;
  width: 16px;
  height: 11px;
  background-image: url("images/flags.png");
  background-repeat: no-repeat;
}

.country-wrapper dd {
  display: none;
  position: absolute;
  top: auto;
  right: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.country-wrapper dd.active {
  display: block;
}

.country-wrapper dd ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.country-wrapper dd ul li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  text-align: left;
  padding-left: 40px;
  box-sizing: border-box;
}

.country-wrapper dd ul li:hover {
  background-color: #f1f1f1;
}
